﻿@model AzureMLpodSmall.Models.OrderViewModel

@{
    ViewBag.Title = "AzureML";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Predicted Quantity is: @ViewBag.Order</h2>

@using (@Html.BeginForm("AzureML", "Home", FormMethod.Post))
{
    <div>
        <label>Product Name</label>
    </div>
    <div>
        @Html.TextBoxFor(m => m.ProductName)
    </div>
    <div>
        <label>Buyer</label>
    </div>
    <div>
        @Html.TextBoxFor(m => m.Buyer)
    </div>
    <div>
        <label>Month</label>
    </div>
    <div>
        @Html.TextBoxFor(m => m.Month)
    </div>

    <input type="submit" class="btn" value="AzureML" />
}